.select {
    position: relative;
    margin: 0 0 1.5rem;
    padding: 1rem 0 1rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 150px;
    background: #fff url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='cccccc' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat calc(100% - 15px) center;
}
