.form {
    margin-bottom: 1.5rem;
}

.search {
    padding: 1rem 1.5rem;
    min-width: 350px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: transparent;
}

.wrapper {
    width: fit-content;
    background-image: url('../../assets/img/loupe.svg');
    background-position: right 1rem center;
    background-size: 20px 50px;
    background-repeat: no-repeat;
}