.input {
    margin-right: 1rem;
    padding: 1rem;
    min-width: 500px;
}

.form {
    margin-top: 1.5rem;
    display: flex;
    align-items: stretch;
}

.button {
    padding: 1rem;
    background-color: #CCE5FF;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s linear;
}

.button:hover {
    opacity: .8;
}